<nav class="nav flex-column col-sm-12 col-md-4">
    <a class="nav-link" href="#AmbraneAFB-11FlexiFitWithHeartRateMonitorSmartband">Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband</a>
    <a class="nav-link" href="#AppleWatch">Apple Watch</a>
    <a class="nav-link" href="#AsusZenWatch2">Asus ZenWatch 2</a>
    <a class="nav-link" href="#CasioSmartwatches">Casio Smart watches</a>
    <a class="nav-link" href="#DaydreamView">Daydream View</a>
    <a class="nav-link" href="#FitbitSmartWearables">Fitbit Smart Wearables</a>
    <a class="nav-link" href="#FossilSmartwatches">Fossil Smartwatches</a>
    <a class="nav-link" href="#GarminSmartBands">Garmin Smart Bands</a>
    <a class="nav-link" href="#LenovoHW01PlusSmartBandwithPAI">Lenovo HW01 Plus Smart Bandwith PAI</a>
    <a class="nav-link" href="#LenovoHW01SmartBand">Lenovo HW01 Smart Band</a>
</nav>
<main class="col-sm-12 col-md-8">
    <h2>Products</h2>
    <div class="row">
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="AmbraneAFB-11FlexiFitWithHeartRateMonitorSmartband">
                <img class="card-img-top" src="public/images/AmbraneAFB-11FlexiFitWithHeartRateMonitorSmartband.jpeg" alt="Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband">
                <div class="card-body">
                    <h4 class="card-title">Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband</h4>
                    <p class="card-text">Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband - Smart Watch 1</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelAmbraneAFB-11FlexiFitWithHeartRateMonitorSmartband">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelAmbraneAFB-11FlexiFitWithHeartRateMonitorSmartband" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="AppleWatch">
                <img class="card-img-top" src="public/images/AppleWatch.jpeg" alt="Apple Watch">
                <div class="card-body">
                    <h4 class="card-title">Apple Watch</h4>
                    <p class="card-text">Apple Watch - Smart Watch 2</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelAppleWatch">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelAppleWatch" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Apple Watch</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="AsusZenWatch2">
                <img class="card-img-top" src="public/images/AsusZenWatch2.jpeg" alt="Asus ZenWatch 2">
                <div class="card-body">
                    <h4 class="card-title">Asus ZenWatch 2</h4>
                    <p class="card-text">Asus ZenWatch 2 - Smart Watch 3</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelAsusZenWatch2">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelAsusZenWatch2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="CasioSmartwatches">
                <img class="card-img-top" src="public/images/CasioSmartwatches.jpeg" alt="Casio Smart watchesv">
                <div class="card-body">
                    <h4 class="card-title">Casio Smart watches</h4>
                    <p class="card-text">Casio Smart watches - Smart Watch 4</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelCasioSmartwatches">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelCasioSmartwatches" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Casio Smart watches</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="DaydreamView">
                <img class="card-img-top" src="public/images/DaydreamView.jpeg" alt="Daydream View">
                <div class="card-body">
                    <h4 class="card-title">Daydream View</h4>
                    <p class="card-text">Daydream View - Smart Watch 5</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelDaydreamView">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelDaydreamView" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Daydream View</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 5
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="FitbitSmartWearables">
                <img class="card-img-top" src="public/images/FitbitSmartWearables.jpeg" alt="Fitbit Smart Wearables">
                <div class="card-body">
                    <h4 class="card-title">Fitbit Smart Wearables</h4>
                    <p class="card-text">Fitbit Smart Wearables - Smart Watch 6</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelFitbitSmartWearables">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelFitbitSmartWearables" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Fitbit Smart Wearables</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 6
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="FossilSmartwatches">
                <img class="card-img-top" src="public/images/FossilSmartwatches.jpeg" alt="Fossil Smartwatches">
                <div class="card-body">
                    <h4 class="card-title">Fossil Smartwatches</h4>
                    <p class="card-text">Fossil Smartwatches - Smart Watch 7</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelFossilSmartwatches">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelFossilSmartwatches" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Fossil Smartwatches</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 7
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="GarminSmartBands">
                <img class="card-img-top" src="public/images/GarminSmartBands.jpeg" alt="Garmin Smart Bands">
                <div class="card-body">
                    <h4 class="card-title">Garmin Smart Bands</h4>
                    <p class="card-text">Garmin Smart Bands - Smart Watch 8</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelGarminSmartBands">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelGarminSmartBands" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Garmin Smart Bands</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 8
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="LenovoHW01PlusSmartBandwithPAI">
                <img class="card-img-top" src="public/images/LenovoHW01PlusSmartBandwithPAI.jpeg" alt="Ambrane AFB-11 Flexi Fit With Heart Rate Monito Smartband">
                <div class="card-body">
                    <h4 class="card-title">Lenovo HW01 Plus Smart Bandwith PAI</h4>
                    <p class="card-text">Lenovo HW01 Plus Smart Bandwith PAI - Smart Watch 9</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelLenovoHW01PlusSmartBandwithPAI">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelLenovoHW01PlusSmartBandwithPAI" tabindex="-1" role="dialog" 
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lenovo HW01 Plus Smart Bandwith PAI</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 9
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-4">
            <div class="card" id="LenovoHW01SmartBand">
                <img class="card-img-top" src="public/images/LenovoHW01SmartBand.jpeg" alt="Lenovo HW01 Smart Band">
                <div class="card-body">
                    <h4 class="card-title">Lenovo HW01 Smart Band</h4>
                    <p class="card-text">Lenovo HW01 Smart Band - Smart Watch 10</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelLenovoHW01SmartBand">Details</button>
                </div>
            </div>
            <div class="modal fade" id="modelLenovoHW01SmartBand" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lenovo HW01 Smart Band</h5>
                        </div>
                        <div class="modal-body">
                            Smart Watch 10
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>