/******************************************
*  Author : Harsh Jagdishbhai Kevadia   
*  Created On : Thu Sep 21 2017
*  File : variables.scss
*******************************************/
$body-background: #FEFEFE;
$brand-primary: #999;
$primary-font-size: 12pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "book";
$image-height: 350px;
$button-color: #0072ee;
$link-color: #0072ed;