<div class="container">
    <section class="row">
        <h1 id="the-heading">Harsh Kevadia Top 10 Favorite Television Shows:</h1>
        <nav class="col-sm-12 col-md-4">
            <ul>
                <li><a href="#MrRobot">Mr. Robot</a></li>
                <li><a href="#Narcos">Narcos</a></li>
                <li><a href="#Fringe">Fringe</a></li>
                <li><a href="#HouseOfCards">House Of Cards</a></li>
                <li><a href="#GameOfThrones">Game Of Thrones</a></li>
                <li><a href="#Friends">Friends</a></li>
                <li><a href="#SiliconValley">Silicon Valley</a></li>
                <li><a href="#Sherlock">Sherlock</a></li>
                <li><a href="#TaarakMehtaKaOoltahChashmah">Taarak Mehta Ka Ooltah Chashmah</a></li>
                <li><a href="#SarabhaiVsSarabhai">Sarabhai Vs Sarabhai</a></li>
            </ul>
        </nav>
        <main>
            <div class="flex-container">
                <article id="MrRobot">
                    <h2>Mr. Robot</h2>
                    <img src="public/images/MrRobot.jpg" alt="Mr. Robot">
                    <p class="description">Follows Elliot, a young programmer working as a cyber-security engineer by day, and a vigilante hacker
                        by night.</p>
                </article>
                <article id="Narcos">
                    <h2>Narcos</h2>
                    <img src="public/images/Narcos.jpg" alt="Narcos">
                    <p class="description">A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar, as well as the many
                        other drug kingpins who plagued the country through the years.</p>
                </article>
                <article id="Fringe">
                    <h2>Fringe</h2>
                    <img src="public/images/Fringe.jpg" alt="Fringe">
                    <p class="description">An FBI agent is forced to work with an institutionalized scientist and his son in order to rationalize
                        a brewing storm of unexplained phenomena.</p>
                </article>
                <article id="HouseOfCards">
                    <h2>House Of Cards</h2>
                    <img src="public/images/HouseOfCards.jpg" alt="House Of Cards">
                    <p class="description">A Congressman works with his equally conniving wife to exact revenge on the people who betrayed him.</p>
                </article>
                <article id="GameOfThrones">
                    <h2>Game Of Thrones</h2>
                    <img src="public/images/GameOfThrones.jpg" alt="Game Of Thrones">
                    <p class="description">Nine noble families fight for control over the mythical lands of Westeros, while a forgotten race returns
                        after being dormant for thousands of years.</p>
                </article>
                <article id="Friends">
                    <h2>Friends</h2>
                    <img src="public/images/Friends.jpg" alt="Friends">
                    <p class="description">Follows the personal and professional lives of six 20 to 30-something-year-old friends living in Manhattan.</p>
                </article>
                <article id="SiliconValley">
                    <h2>Silicon Valley</h2>
                    <img src="public/images/SiliconValley.jpg" alt="Silicon Valley">
                    <p class="description">Follows the struggle of Richard Hendricks, a silicon valley engineer trying to build his own company
                        called Pied Piper</p>
                </article>
                <article id="Sherlock">
                    <h2>Sherlock</h2>
                    <img src="public/images/Sherlock.jpg" alt="Sherlock">
                    <p class="description">A modern update finds the famous sleuth and his doctor partner solving crime in 21st century London.</p>
                </article>
                <article id="TaarakMehtaKaOoltahChashmah">
                    <h2>Taarak Mehta Ka Ooltah Chashmah</h2>
                    <img src="public/images/TaarakMehtaKaOoltahChashmah.jpg" alt="Taarak Mehta Ka Ooltah Chashmah">
                    <p class="description">Common men face problems and fight against them depicted by Jethalal Gada.</p>
                </article>
                <article id="SarabhaiVsSarabhai">
                    <h2>Sarabhai Vs Sarabhai</h2>
                    <img src="public/images/SarabhaiVsSarabhai.jpg" alt="Sarabhai V sSarabhai">
                    <p class="description">The show revolves around the lives of the members of an Uber Wealthy - High Society Gujarati family of
                        Cuffe Parade - South Bombay, whose daughter-in-law is from a middle class Delhi background.</p>
                </article>
            </div>
        </main>
    </section>
</div>